In [1]:
import pandas
import numpy

In [2]:
motor = 1400 #rpm

table = pandas.read_table("table.txt")
table['ratio'] = table.spindle / motor
table

    spindle  d1 d2 d3   d4     ratio
0       110  45  a  d  184  0.078571
1       190  45  a  c  159  0.135714
2       220  65  b  d  184  0.157143
3       320  45  a  b  136  0.228571
4       380  65  b  c  159  0.271429
5       430  90  c  d  184  0.307143
6       860  65  b  a  117  0.614286
7      1170  90  c  b  136  0.835714
8      1260  99  d  c  159  0.900000
9      1680  90  c  a  117  1.200000
10     2000  99  d  b  136  1.428571
11     2880  99  d  a  117  2.057143

Kiekvieną lentelės eilutę atitinka viena tiesinė lygtis.

$R = \frac{d_1}{d_2} \frac{d_3}{d_4}$

$d_2 = \frac{d_1 d_3}{R d_4}$

$d_2 - \frac{d_1}{R d_4} d_3 = 0$

Fiksuojame A ir sudarome lygčių sistemą su trim nežinomaisiais: B, C, D. Lygčių sistemos matrica:

In [3]:
d_a = 154

indices = dict(zip("bcda", range(4)))
def buildrow(spindle, d1, d2, d3, d4, ratio, *args):
    i2 = indices[d2]
    i3 = indices[d3]
    row = numpy.zeros(len(indices))
    row[i2] = 1
    row[i3] = -d1 / (ratio * d4)
    if d2 == 'a':
        row[i2] *= -d_a
    if d3 == 'a':
        row[i3] *= -d_a
    return row

coeffs = numpy.matrix([buildrow(*r) for i, r in table.iterrows()])
coeffs

matrix([[   0.        ,    0.        ,   -3.11264822, -154.        ],
        [   0.        ,   -2.08540218,    0.        , -154.        ],
        [   1.        ,    0.        ,   -2.24802372,    0.        ],
        [  -1.44761029,    0.        ,    0.        , -154.        ],
        [   1.        ,   -1.5061238 ,    0.        ,    0.        ],
        [   0.        ,    1.        ,   -1.59251769,    0.        ],
        [   1.        ,    0.        ,    0.        ,  139.27648579],
        [  -0.7918552 ,    1.        ,    0.        ,    0.        ],
        [   0.        ,   -0.6918239 ,    1.        ,    0.        ],
        [   0.        ,    1.        ,    0.        ,   98.71794872],
        [  -0.50955882,    0.        ,    1.        ,    0.        ],
        [   0.        ,    0.        ,    1.        ,   63.34401709]])

In [4]:
n = len(indices)
solution, residuals, rank, singular = numpy.linalg.lstsq(coeffs[:,0:n - 1], coeffs[:,n - 1])
print(solution.T, residuals, rank, singular)

ds = pandas.Series([d_a] + list(solution.flat), index=list("abcd"))
ds

[[ 114.64316755   79.28609332   51.28369977]] [[ 1657.82250251]] 3 [ 4.59427981  3.32276562  2.05141799]

a    154.000000
b    114.643168
c     79.286093
d     51.283700
dtype: float64

Gauti dydžiai suapvalinami iki milimetrų:

In [5]:
ds = numpy.round(ds)
ds

a    154
b    115
c     79
d     51
dtype: float64

Gauti greičiai stulpelyje actual_spindle:

In [6]:
dsdict = dict(ds)
table['actual_ratio'] = [r.d1 / dsdict[r.d2] * dsdict[r.d3] / r.d4 for i, r in table.iterrows()]
table['actual_spindle'] = table['actual_ratio'] * motor
table

    spindle  d1 d2 d3   d4     ratio  actual_ratio  actual_spindle
0       110  45  a  d  184  0.078571      0.080992      113.389328
1       190  45  a  c  159  0.135714      0.145185      203.259005
2       220  65  b  d  184  0.157143      0.156664      219.328922
3       320  45  a  b  136  0.228571      0.247087      345.922460
4       380  65  b  c  159  0.271429      0.280831      393.163795
5       430  90  c  d  184  0.307143      0.315768      442.074849
6       860  65  b  a  117  0.614286      0.743961     1041.545894
7      1170  90  c  b  136  0.835714      0.963328     1348.659717
8      1260  99  d  c  159  0.900000      0.964484     1350.277469
9      1680  90  c  a  117  1.200000      1.499513     2099.318403
10     2000  99  d  b  136  1.428571      1.641436     2298.010381
11     2880  99  d  a  117  2.057143      2.555053     3577.073906